<h1>List of articles</h1>

<% @articles.each do |variable| %>
	<article style="border-left: 4px solid; padding-left: 10px; ">
		<h2 class="title">
			<%= variable.title %>
		</h2>
		<div class="text" >
			<%= variable.text %>
		</div>
		<div class="create" style="font-size: 11px;">
			<%= variable.created_at %>
		</div>
		<div class="links">
			<%= link_to 'Read more', article_path(variable) %>
			<% if current_user %> |
				<%= link_to 'Edit article', edit_article_path(variable) %>
				|
				<%= link_to 'Delete', variable,  data: {method: :delete, confirm: 'Are you sure?'} %>
			<% end %>
		</div>
	</article>
<% end %>